<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="ADPW Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <file>actualizar_dimensiones_productos_woocommerce.php</file>
            <directory>includes</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
    </source>
</phpunit>
